<div *ngIf="this.state" class="topRight">
    <mat-card class="card">
        <mat-card-subtitle>Edit state</mat-card-subtitle>
        <mat-card-title>{{this.state?.Name}}</mat-card-title>

        <div class="closeButton">
            <button mat-icon-button color="primary" (click)="onClose()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <span>
            <mat-checkbox [labelPosition]="this.lPos" color="primary" style="margin-right: 10px" [checked]="this.isInitialState()" (change)="this.onInitialStateChanged($event.checked)">Initial State?</mat-checkbox>
            <mat-checkbox [labelPosition]="this.lPos" color="primary" [checked]="this.isFinalState()" (change)="this.onFinalStateChanged($event.checked)">Final State?</mat-checkbox>
        </span>

        <mat-divider></mat-divider>

        <div *ngFor="let values of [].constructor(this.numTransitions); let i = index">
            <div class="removeTransitionButton">
                <button type="button" mat-icon-button color="primary" (click)="this.deleteTransition(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

<!--            border-->
            <div [ngClass]="{'transitionRow' : this.isTransitionInvalid(formHelpers[i][0].transition)}">
            </div>

            <form>
                <span *ngFor="let num of [0,1,2,3]" >
                    <app-transitionEntry
                        [title]="labels[num]"
                        [control]="formHelpers[i][num].formControl"
                        [options]="formHelpers[i][num].filteredOptions!!"></app-transitionEntry>
                    <mat-icon *ngIf="num == 0">arrow_forward</mat-icon>
                    <mat-label style="font-size: 30px" *ngIf="num > 0 && num < 3"> , </mat-label>
                    <mat-divider></mat-divider>
                </span>
            </form>
        </div>

        <div class="addButton">
            <mat-label [innerText]="this.errorMessage"></mat-label>
            <button mat-mini-fab color="primary" [disabled]="this.hasErrors()" (click)="this.addTransition()">
                <mat-icon>queue</mat-icon>
            </button>
        </div>

    </mat-card>
</div>
