<div *ngIf="this.state" class="topRight">
    <mat-card class="card">
        <mat-card-subtitle>Edit state</mat-card-subtitle>
        <mat-card-title>{{this.state?.Name}}</mat-card-title>

        <div class="closeButton">
            <button mat-icon-button color="primary" (click)="this.state = undefined">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <mat-divider></mat-divider>

        <div *ngFor="let values of [].constructor(this.numTransitions); let i = index">
            <div class="closeTransitionButton">
                <button type="button" mat-icon-button color="primary" (click)="this.deleteTransition(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

            <form>
                <span *ngFor="let num of [0,1,2,3]" >
                    <app-state [title]="labels[num]" [formControl]="formHelpers[i][num].formControl" [options]="formHelpers[i][num].filteredOptions!!"></app-state>
                    <mat-icon *ngIf="num == 0">arrow_forward</mat-icon>
                    <mat-label style="font-size: 30px" *ngIf="num > 0 && num < 3"> , </mat-label>
                    <mat-divider></mat-divider>
                </span>
            </form>
        </div>
    </mat-card>
</div>
