<div *ngIf="this.state" class="topRight">
    <mat-card class="card">
        <mat-card-subtitle>{{this.i18n.lookUp("edit-state")}}</mat-card-subtitle>
        <div style="display: inline-block; height: 100%; width: 100%">

            <mat-card-title *ngIf="!isEditingStateName" (dblclick)="this.isEditingStateName = true">
                {{this.state?.Name}}
                <mat-icon style="cursor: pointer" (click)="isEditingStateName = true" matSuffix>mode_edit</mat-icon>
            </mat-card-title>
        </div>

        <div *ngIf="isEditingStateName">
            <mat-form-field appearance="fill">
                <mat-label>{{this.i18n.lookUp("state-name")}}</mat-label>
                <input (focusout)="this.onFocusOut($event, stateName)" #stateName (keyup)="this.onStateNameChanged($event, stateName)"
                       type="text" matInput [placeholder]="this.state?.Name!">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
        </div>

        <div class="closeButton">
            <button mat-icon-button color="primary" (click)="onClose()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <span>
            <mat-checkbox [labelPosition]="this.lPos" color="primary" style="margin-right: 10px" [checked]="this.isInitialState()" (change)="this.onInitialStateChanged($event.checked)">{{this.i18n.lookUp("initial-state")}}?</mat-checkbox>
            <mat-checkbox [labelPosition]="this.lPos" color="primary" [checked]="this.isFinalState()" (change)="this.onFinalStateChanged($event.checked)">{{this.i18n.lookUp("final-state")}}?</mat-checkbox>
        </span>

        <mat-divider></mat-divider>

        <div *ngFor="let values of [].constructor(this.numTransitions); let i = index">


            <form [ngClass]="{'transitionRow' : this.isTransitionInvalid(formHelpers[i][0].transition)}">
                <div class="removeTransitionButton">
                    <button type="button" mat-icon-button color="primary" (click)="this.deleteTransition(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

                <span *ngFor="let num of [0,1,2]" >
                    <app-transitionEntry
                        [title]="labels[num]"
                        [control]="formHelpers[i][num].formControl"
                        [options]="formHelpers[i][num].filteredOptions!!"></app-transitionEntry>
                    <mat-icon *ngIf="num == 0">arrow_forward</mat-icon>


                    <mat-label style="font-size: 30px" *ngIf="num > 0 && num < 3"> , </mat-label>
                    <mat-divider></mat-divider>
                </span>
                <span style="display: inline-block;">
                    <button type="button" style="margin-right: 5px; color: white" [style.background-color]="this.isSelectedButton(i, 'L')"
                            mat-mini-fab (click)="this.onDirectionChanged(i, 'L')">
                        L
                    </button>
                    <button type="button" style="margin-right: 5px; color: white" [style.background-color]="this.isSelectedButton(i, 'N')"
                            mat-mini-fab (click)="this.onDirectionChanged(i, 'N')">
                        N
                    </button>
                    <button type="button" style="color: white" [style.background-color]="this.isSelectedButton(i, 'R')"
                            mat-mini-fab (click)="this.onDirectionChanged(i, 'R')">
                        R
                    </button>
                </span>
            </form>
        </div>

        <div [style.height]="this.getHeight()" class="container">
            <div class="addButton">
                <button mat-mini-fab color="primary" [disabled]="this.hasErrors()" (click)="this.addTransition()">
                    <mat-icon>queue</mat-icon>
                </button>
            </div>

            <label class="errorLabel" [innerText]="this.errorMessage"></label>
        </div>
    </mat-card>
</div>
