<h1 mat-dialog-title>{{this.i18n.lookUp("download-file")}}</h1>
<div>
    <p>{{this.i18n.lookUp("download-file-prompt")}}</p>
    <section>
        <mat-checkbox [checked]="this.reuseStructure" (change)="this.onCheckBoxChanged($event.checked)">{{this.i18n.lookUp("keep")}}</mat-checkbox>
    </section>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="this.onCancelDialog()">{{i18n.lookUp("cancel")}}</button>
    <button mat-button [mat-dialog-close]="this.reuseStructure" cdkFocusInitial>Ok</button>
</div>
