<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-flat-button color="primary" (click)="this.onDownloadClicked()">
            <mat-icon>download</mat-icon>
            {{this.i18n.lookUp("download-file")}}
        </button>

        <!--Used to make file input possible. Its not displayed though -->
        <input #fileInputElement class="file-input" type="file" (change)="this.fileHandleChanged($event)" accept=".txt,.TM">

        <button mat-flat-button color="primary" (click)="fileInputElement.click()">
            <mat-icon>upload</mat-icon>
            {{this.i18n.lookUp("upload-file")}}
        </button>

    </mat-toolbar-row>
</mat-toolbar>
